:root {
  --color-bg: #ffffff;
  --color-text-light: #ffffff;
  --color-text-dark: #212121;
}

* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

body {
  background-color: var(--color-bg);
  margin: 0px;
}

section {
  width: 100vw;
  height: 100vh;
}

.main-wrapper, .landing-wrapper{
  padding: 0px 0px;
}

.landing-content{
  display: flex;
  justify-content: center; 
  height: 100vh;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.landing-content h1 {
  z-index: 10;
  top: 25vh;
}

h1 {
  font-family: "benton-modern-display-compre", serif;
  font-weight: 300;
  font-style: italic;
  font-size: 240px;
  letter-spacing: -0.015em;
  color: var(--color-text-dark);
}
